*.DS_STORE*
*.pyc
nohup.out
*.csv
*.ini
*.log
*.h5
*.png
*.pkl
*.swp
*.gz
*.txt
*.ymltest
*.zip
exe/test.jl
config.ini
temp/*
sample_request.py
__pycache__
test/pull.py
.vscode/*
connection_config.yml
config.yml
